body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  height: 545px;
  background-image: url("../img/grey_back.png");
  background-repeat: no-repeat;
  padding: 49px 140px 0 140px;

  .header-top {
    height: 65px;
    display: flex;
    align-items: center;

    a {
      img {
        max-width: 100%;
        margin-right: 201px;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        padding-top: 15px;

        li {
          a {
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            text-decoration: none;
          }

          &:nth-child(1) {
            margin-right: 45px;
          }

          &:nth-child(2) {
            margin-right: 47px;
          }

          &:nth-child(3) {
            margin-right: 44px;
          }

          &:nth-child(4) {
            margin-right: 0;
          }
        }
      }
    }

    .header_cart {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      text-decoration: none;
      padding-top: 15px;
      display: flex;
      align-items: center;
      margin-left: 244px;

      &:before {
        content: "";
        background-image: url("../img/cart-icon.png");
        width: 15px;
        height: 15px;
        display: block;
        margin-right: 26px;
      }
    }
  }
}
