body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 545px;
  background-image: url("../img/grey_back.png");
  background-repeat: no-repeat;
  padding: 49px 140px 0 140px;

  .header-navigation {
    height: 65px;
    display: flex;
    align-items: center;

    a {
      img {
        max-width: 100%;
        margin-right: 201px;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        padding-top: 15px;

        li {
          a {
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            text-decoration: none;
          }

          &:nth-child(1) {
            margin-right: 45px;
          }

          &:nth-child(2) {
            margin-right: 48px;
          }

          &:nth-child(3) {
            margin-right: 45px;
          }
        }
      }
    }

    .header_cart {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      text-decoration: none;
      padding-top: 15px;
      display: flex;
      align-items: center;
      margin-left: 245px;

      &:before {
        content: "";
        background-image: url("../img/cart-icon.png");
        width: 15px;
        height: 15px;
        display: block;
        margin-right: 26px;
      }
    }
  }

  .header-intro-wrapper {
    display: flex;

    .header-intro {
      p {
        width: 378px;
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        padding-top: 77px;

        &:nth-child(2) {
          width: 378px;
          color: #283136;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          padding-top: 27px;
        }
      }

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        width: 240px;
        height: 50px;
        background-color: #fb565a;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 39px;
        text-transform: uppercase;
      }
    }

    img {
      padding-left: 53px;
      padding-top: 18px;
    }
  }
}
