body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 545px;
  background-image: url("../img/grey_back.png");
  background-repeat: no-repeat;
  padding: 49px 140px 0 140px;
}

.header .header-navigation {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-navigation a img {
  max-width: 100%;
  margin-right: 201px;
}

.header .header-navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.header .header-navigation nav ul li a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.header .header-navigation nav ul li:nth-child(1) {
  margin-right: 45px;
}

.header .header-navigation nav ul li:nth-child(2) {
  margin-right: 48px;
}

.header .header-navigation nav ul li:nth-child(3) {
  margin-right: 45px;
}

.header .header-navigation .header_cart {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 245px;
}

.header .header-navigation .header_cart:before {
  content: "";
  background-image: url("../img/cart-icon.png");
  width: 15px;
  height: 15px;
  display: block;
  margin-right: 26px;
}

.header .header-intro-wrapper-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-intro-wrapper-one .header-intro-text p {
  width: 378px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding-top: 77px;
}

.header .header-intro-wrapper-one .header-intro-text p:nth-child(2) {
  width: 378px;
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 27px;
}

.header .header-intro-wrapper-one .header-intro-text a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 39px;
  text-transform: uppercase;
}

.header .header-intro-wrapper-one .header-intro-image img {
  padding-left: 53px;
  padding-top: 18px;
}

.header .header-intro-wrapper-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-intro-wrapper-two .header-intro-text p {
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  width: 515px;
  padding-top: 77px;
}

.header .header-intro-wrapper-two .header-intro-text p:nth-child(2) {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 435px;
  padding-top: 27px;
}

.header .header-intro-wrapper-two .header-intro-text a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 39px;
  text-transform: uppercase;
}

.header .header-intro-wrapper-two .header-intro-image img {
  margin-left: -19px;
}

.header .header-intro-wrapper-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-intro-wrapper-three .header-intro-text p {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding-top: 77px;
  -webkit-font-kerning: none;
          font-kerning: none;
  width: 415px;
}

.header .header-intro-wrapper-three .header-intro-text p:nth-child(2) {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 350px;
  padding-top: 27px;
}

.header .header-intro-wrapper-three .header-intro-text a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 39px;
  text-transform: uppercase;
}

.header .header-intro-wrapper-three .header-intro-image img {
  margin-left: -14px;
  padding-top: 19px;
}

.header .slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88px;
  margin: -115px auto 0 auto;
}

.header .slider-buttons a {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}

.header .slider-buttons a span {
  background-image: url("../img/active-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.main .services {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .services .service-wrapper {
  width: 300px;
  padding-top: 31px;
  padding-left: 140px;
}

.main .services .service-wrapper h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 23px;
}

.main .services .service-wrapper p {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 16px;
  width: 250px;
  margin-left: -2px;
}

.main .services .service-wrapper a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 160px;
  height: 50px;
  background-color: #fb565a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.main .services .service-wrapper:nth-child(2) {
  padding-left: 100px;
}

.main .services .service-wrapper:nth-child(2) p {
  margin-left: 3px;
}

.main .services .service-wrapper:nth-child(2) a {
  background-color: #00ca74;
}

.main .services .service-wrapper:nth-child(3) {
  padding-left: 100px;
}

.main .services .service-wrapper:nth-child(3) p {
  margin-left: -1px;
}

.main .services .service-wrapper:nth-child(3) a {
  background-color: #efc84a;
}

.main .devider {
  width: 1160px;
  height: 2px;
  margin: 0 auto;
  background-color: #eeeeee;
  margin-top: 80px;
}

.main .about .about-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .about .about-wrapper .about-wrapper-text h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  width: 650px;
  padding-top: 74px;
}

.main .about .about-wrapper .about-wrapper-text p {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 33px;
  width: 620px;
}

.main .about .about-wrapper .about-wrapper-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 39px;
}

.main .about .about-wrapper .about-wrapper-text ul {
  padding-top: 25px;
  padding-left: 1px;
}

.main .about .about-wrapper .about-wrapper-text ul li {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.main .about .about-wrapper .about-wrapper-text ul li:before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  display: block;
  margin-right: 10px;
}

.main .about .about-wrapper .about-wrapper-logo {
  margin-left: auto;
}

.main .about .about-wrapper .about-wrapper-logo img {
  padding-top: 40px;
}

.main .about .about-wrapper .about-wrapper-logo .about-logo-text {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 33px;
  margin-left: 17px;
}

.main .about .about-wrapper .about-wrapper-logo .about-info-wrapper {
  padding-top: 52px;
}

.main .about .about-wrapper .about-wrapper-logo .about-info-wrapper .about-info {
  display: inline-block;
  width: 115px;
}

.main .about .about-wrapper .about-wrapper-logo .about-info-wrapper .about-info span {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.main .about .about-wrapper .about-wrapper-logo .about-info-wrapper .about-info span sup {
  vertical-align: super;
  font-size: 24px;
}

.main .about .about-wrapper .about-wrapper-logo .about-info-wrapper .about-info p {
  color: #283136;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 23px;
}

.main .devider:nth-of-type(2) {
  margin-top: 49px;
}

.main .partners {
  width: 1086px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .partners a {
  width: 199px;
  height: 68px;
  margin-top: 63px;
  margin-left: -6px;
}

.main .partners a:nth-child(2) {
  width: 209px;
  height: 90px;
  margin-top: 47px;
  margin-left: 96px;
}

.main .partners a:nth-child(3) {
  width: 185px;
  height: 52px;
  margin-top: 66px;
  margin-left: 103px;
}

.main .partners a:nth-child(4) {
  width: 173px;
  height: 84px;
  margin-top: 53px;
  margin-left: 121px;
}

.main .devider:nth-of-type(3) {
  margin-top: 44px;
}

.main .map {
  position: relative;
}

.main .map img {
  padding-top: 80px;
}
/*# sourceMappingURL=styles.css.map */