body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 545px;
  background-image: url("../img/grey_back.png");
  background-repeat: no-repeat;
  padding: 49px 140px 0 140px;

  .header-navigation {
    height: 65px;
    display: flex;
    align-items: center;

    a {
      img {
        max-width: 100%;
        margin-right: 201px;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        padding-top: 15px;

        li {
          a {
            color: #000000;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            text-decoration: none;
          }

          &:nth-child(1) {
            margin-right: 45px;
          }

          &:nth-child(2) {
            margin-right: 48px;
          }

          &:nth-child(3) {
            margin-right: 45px;
          }
        }
      }
    }

    .header_cart {
      color: #000000;
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
      text-decoration: none;
      padding-top: 15px;
      display: flex;
      align-items: center;
      margin-left: 245px;

      &:before {
        content: "";
        background-image: url("../img/cart-icon.png");
        width: 15px;
        height: 15px;
        display: block;
        margin-right: 26px;
      }
    }
  }

  .header-intro-wrapper-one {
    display: flex;

    .header-intro-text {
      p {
        width: 378px;
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        padding-top: 77px;

        &:nth-child(2) {
          width: 378px;
          color: #283136;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          padding-top: 27px;
        }
      }

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        width: 240px;
        height: 50px;
        background-color: #fb565a;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 39px;
        text-transform: uppercase;
      }
    }

    .header-intro-image {
      img {
        padding-left: 53px;
        padding-top: 18px;
      }
    }
  }

  .header-intro-wrapper-two {
    display: flex;

    .header-intro-text {
      p {
        font-family: "Roboto", sans-serif;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        width: 515px;
        padding-top: 77px;

        &:nth-child(2) {
          color: #283136;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          width: 435px;
          padding-top: 27px;
        }
      }

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        width: 240px;
        height: 50px;
        background-color: #fb565a;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 39px;
        text-transform: uppercase;
      }
    }

    .header-intro-image {
      img {
        margin-left: -19px;
      }
    }
  }

  .header-intro-wrapper-three {
    display: flex;

    .header-intro-text {
      p {
        color: #000000;
        font-size: 55px;
        font-weight: 500;
        line-height: 55px;
        padding-top: 77px;
        font-kerning: none;
        width: 415px;

        &:nth-child(2) {
          color: #283136;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          width: 350px;
          padding-top: 27px;
        }
      }

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        width: 240px;
        height: 50px;
        background-color: #fb565a;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 39px;
        text-transform: uppercase;
      }
    }

    .header-intro-image {
      img {
        margin-left: -14px;
        padding-top: 19px;
      }
    }
  }

  .slider-buttons {
    display: flex;
    justify-content: space-between;
    width: 88px;
    margin: -115px auto 0 auto;

    a {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #ffffff;
      position: relative;

      span {
        background-image: url("../img/active-button.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 5px;
        left: 5px;
      }
    }
  }
}

.main {
  .services {
    width: 1100px;
    display: flex;

    .service-wrapper {
      width: 300px;
      padding-top: 31px;
      padding-left: 140px;

      h2 {
        color: #000000;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        padding-top: 23px;
      }

      p {
        color: #283136;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-top: 16px;
        width: 250px;
        margin-left: -2px;
      }

      a {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        width: 160px;
        height: 50px;
        background-color: #fb565a;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        text-transform: uppercase;
        text-decoration: none;
      }

      &:nth-child(2) {
        padding-left: 100px;

        p {
          margin-left: 3px;
        }

        a {
          background-color: #00ca74;
        }
      }

      &:nth-child(3) {
        padding-left: 100px;

        p {
          margin-left: -1px;
        }

        a {
          background-color: #efc84a;
        }
      }
    }
  }

  .devider {
    width: 1160px;
    height: 2px;
    margin: 0 auto;
    background-color: #eeeeee;
    margin-top: 80px;
  }

  .about {
    .about-wrapper {
      width: 1160px;
      margin: 0 auto;
      display: flex;

      .about-wrapper-text {
        h2 {
          color: #000000;
          font-family: "Roboto", sans-serif;
          font-size: 45px;
          font-weight: 500;
          line-height: 45px;
          width: 650px;
          padding-top: 74px;
        }

        p {
          color: #283136;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          padding-top: 33px;
          width: 620px;
        }

        h3 {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          font-weight: 700;
          text-transform: uppercase;
          padding-top: 39px;
        }

        ul {
          padding-top: 25px;
          padding-left: 1px;

          li {
            color: #283136;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            display: flex;
            align-items: center;
            padding-bottom: 24px;

            &:before {
              content: "";
              width: 25px;
              height: 2px;
              background-color: #fb565a;
              display: block;
              margin-right: 10px;
            }
          }
        }
      }

      .about-wrapper-logo {
        margin-left: auto;

        img {
          padding-top: 40px;
        }

        .about-logo-text {
          color: #000000;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          padding-top: 33px;
          margin-left: 17px;
        }

        .about-info-wrapper {
          padding-top: 52px;

          .about-info {
            display: inline-block;
            width: 115px;

            span {
              color: #000000;
              font-family: "Roboto", sans-serif;
              font-size: 45px;
              font-weight: 700;
              line-height: 10.06px;

              sup {
                vertical-align: super;
                font-size: 24px;
              }
            }

            p {
              color: #283136;
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              padding-top: 23px;
            }
          }
        }
      }
    }
  }

  .devider:nth-of-type(2) {
    margin-top: 49px;
  }

  .partners {
    width: 1086px;
    margin: 0 auto;
    display: flex;

    a {
      width: 199px;
      height: 68px;
      margin-top: 63px;
      margin-left: -6px;

      &:nth-child(2) {
        width: 209px;
        height: 90px;
        margin-top: 47px;
        margin-left: 96px;
      }

      &:nth-child(3) {
        width: 185px;
        height: 52px;
        margin-top: 66px;
        margin-left: 103px;
      }

      &:nth-child(4) {
        width: 173px;
        height: 84px;
        margin-top: 53px;
        margin-left: 121px;
      }
    }
  }

  .devider:nth-of-type(3) {
    margin-top: 44px;
  }









}
