.cart {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.cart__icon {
  width: 15px;
  height: 15px;
}

.cart__link {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: inherit;
  text-align: right;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.cart__link:hover,
.cart__link:focus {
  color: var(--basic-carnation);
}

.cart__link:active {
  color: var(--basic-black-300);
}

.cart--active .cart__link::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--basic-carnation);
}
