.features {
  padding-bottom: 80px;
  background: var(--basic-gallery);
}

.features__list {
  @include list-reset;
}

.features__item {
  position: relative;
}

.features__promo {
  max-width: 538px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  font-family: inherit;
  color: var(--basic-black);
}

.features__description {
  max-width: 400px;
  margin: 0;
  margin-bottom: 38px;
  font-weight: inherit;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: var(--basic-outer-space);
}

.features__link {
  display: block;
  width: 240px;
  padding: 17px 54px 15px 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-carnation);
  border-radius: 3px;
}

.features__link:hover,
.features__link:focus {
  background-color: var(--basic-cinnabar);
}

.features__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-valencia);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.features__image {
  position: absolute;
  top: -79px;
  right: 3px;
}
