.navigation {
  display: grid;
  align-items: center;
  grid-template-columns: 160px auto 115px;
}

.navigation__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  max-width: 485px;
  margin-left: 202px;
  padding-top: 15px;
}

.navigation__item {
  margin-right: 46px;
}

.navigation__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--basic-carnation);
}

.navigation__link:active {
  opacity: 0.3;
}

.navigation__item--active .navigation__link::before {
  content: "";
  position: absolute;
  top: 43px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--basic-carnation);
}
